*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body#loginbody{
    background: url(../images/furniture1.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.loginheader{
    text-align: center;
    margin-bottom: 60px;
}

.loginheader h1{
    font-size: 60px;
    color: #12f7ff;
    padding: 0px;
    margin: 0px;
}

.loginheader h3{
    color: aqua;
    font-size: 50px;
    margin: 0px;
}

.loginheader h3:after{
    content: '';
    display: block;
    height: 5px;
    background: #00ff7f;
    width:50%;
    margin:0 auto;
}

.loginbody form{
    margin: 0 auto;
    width: 450px;
    background: rgba(0,0,0,.7);
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 7px;
}

.loginInputs{
    margin-top: 20px;
}

.loginInputs label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.loginInputs input{
    height: 25px;
    width: 80%;
    border: 3px solid #00ff7f;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.loginButton{
    margin-top: 40px;
    text-align: right;
}

.loginButton button{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #00ff7f;
    border: none;
    color: #fff;
}

.header{
    width: 100%;
    height: 20px;
    background: #12f7ff;
}

.counter{
    background: url(../images/goods2.jpeg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.homepageContainer{
    width: 100%;
    max-width: 900px;
     /*height: 70vh;*/
    margin: 0 auto;
}

.bannerheader h1{
    font-size: 100px;
    color: #12f7ff;
    line-height: 100%;
}

.bannerheader p{
    font-size: 30px;
    color: #12f7ff;
    text-transform: uppercase;
    line-height: 100%;
}

.bannerTagline{
    margin-top: 20px;
    font-size: 25px;
    color: rgb(0, 0, 5);
}

.bannerIcon{
    margin-top: 30px;
}

.bannerIcon a{
    font-size: 25px;
    margin-left: 40px;
    padding: 7px 15px;
    background: rgba(0, 0, 0,0.8);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.bannerIcon a:first-child{
    margin-left: 0px;
}

.bannerIcon a:hover{
    color: #080000fa;
    background: #12f7ff;
}

.homepageFeatures{
    display: flex;
    flex-direction: row;
}

.homepageFeature{
    padding: 10px 20px;
}

.featureIcon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    border-radius: 50%;
    color: #fff;
    background: #12f7ff;
    padding-left: 16px;
    padding-top: 5px;
    margin-bottom: 20px;
}